<div id="sidebar">
    <p>Kategorie</p>
    <ul class="sidebar-nav">
        <li>
            @Html.ActionLink("Fantasy", "Index", "Book", new { category = "fantasy"}, null)
        </li>
        <li>
            @Html.ActionLink("Kryminał", "Index", "Book", new { category = "kryminał" }, null)
        </li>
        <li>
            <a href="">Categoria 3</a>
        </li>
    </ul>
</div>
