<div id="sidebar">
    <h3 class="sidebar-headline">Kategorie</h3>
    <ul class="sidebar-nav">
        <li>
            @Html.ActionLink("Fantasy", "Index", "Book", new { category = "fantasy"}, null)
        </li>
        <li>
            @Html.ActionLink("Kryminał", "Index", "Book", new { category = "kryminał" }, null)
        </li>
        <li>
            @Html.ActionLink("Przygodowe", "Index", "Book", new { category = "przygodowa"}, null)
        </li>
    </ul>
</div>
