
@{
    ViewBag.Title = "Index";
}

<h2>Panel zarządzania</h2>

<div class="panel">
    <div class="panel-body">
        <button class="btn">Dodaj książkę</button>
        <button class="btn">Dodaj autora</button>
        <button class="btn">Dodaj wydawce</button>
        <button class="btn">Dodaj serie</button>
    </div>
</div>

