@model int
@{
    ViewBag.Title = "Zamówienie";
}
<h2>Zamówienie wysłane</h2>
<p>Dziękujemy za dokokonanie zakupów. Numer twojego zamówienia to: @Model</p>
<br />
<p>@Html.ActionLink("Strona główna", "Index", "Book")</p>

