body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-thumbnail{
    width: 80px;
    height: 100px;
}

.navbar-text{
    margin-left: 0px!important;
    color: #999;
}

.rating-star-empty{
    background: url("Images/empty-star.png") no-repeat;
    background-size: 24px 24px !important;
}

.rating-star-full{
    background: url("Images//full-star.png") no-repeat !important;
    background-size: 24px 24px !important;
}

.rating-star-half{
    background: url("Images//half-star.png") no-repeat !important;
    background-size: 24px 24px !important;
}

.rating-star-block .star {
            color:rgba(0,0,0,0);
            display : inline-block;
            height:24px;
            overflow:hidden;
            text-indent:-999em;
            width:24px;
}

.book-cover{
    width: 200px;
    height: 250px;
    padding: 2px;
    border: 2px solid #000000; 
}

.sidebar-nav{
    list-style: none;
}

.sidebar-nav-li{

}

.sidebar-nav li a{
    text-decoration: none;
}

#sidebar{
    background-color: bisque;
}